@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Light.eot');
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url('TTLakes-Light.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Light.woff') format('woff'),
        url('TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: 'TT Lakes';
}

.navigation {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    border-bottom: 1px solid #D9FFF5;
}

.navigation__leftside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.navigation__rightside {
    display: block;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.navigation__button {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}

.navigation_logo {
    align-self: center;
    size: 100%;
}

.navigation__icon {
    margin: auto;
}

.navigation__divider {
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    align-self: center;
}


.main {
    height: 100%;
    display: flex;
    background-color: #F8F8F8;
    flex-direction: column;
}

.main__title {
    display: flex;
    font-size: 28px;
    margin: 24px 0 24px 0px;
    padding: 0px;
    line-height: 40px;
    font-weight: bold;
}

.main__title:before {
    display: block;
    content: "";
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0px 15px 15px 0px;
    margin-right: 16px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    background-color: #F8F8F8;
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 24px;
}

div.scrollmenu::-webkit-scrollbar {
    width: 0;
}

div.scrollmenu a {
    display: inline-block;
    color: #7E7E82;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border: 2px solid transparent;
}

div.scrollmenu a:hover,  div.scrollmenu a:focus{
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    outline: none;
}

.readmore {
    background-color: #F8F8F8;
    font-size: 14px;
    margin: 0px 24px 0px 24px;
}

.readmore__title, .readmore__title2 {
    line-height: 18px;
    letter-spacing: 0.2px;
}

.readmore__go-far-button {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: flex;
    color: #1B1C21;
}

.readmore__go-far-button:before {
    content: "";
    display: block;
    background-image: url(img/expand.svg);
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.readmore__office-info-picture {
    width: 100%;
    margin-bottom: 24px;
}

.services-menu {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.services-menu__header {
    background: rgba(248, 248, 248, 1); /*linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);*/
    /*padding: 16px;*/
    border-top: 1px solid rgba(217, 255, 245, 1);
    vertical-align: middle;
}

.services-menu__header h1 {
    margin:  16px;
    font-family: 'TT Lakes';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(126, 126, 130, 1);
    font-weight: 200;
}

.services-menu {
    overflow: auto;
    white-space: nowrap;
}

.services-menu::-webkit-scrollbar {
    width: 0;
}



.brand_select {
    background-color: (234, 234, 234, 1);
    width: 240px;
    height: 72px;
    border-radius: 5px;
    border: 1px solid rgba(234, 234, 234, 1);
    margin: auto;
    margin-top: 16px;
    align-items: center;
    position: relative;
    display: inline-block;
    color: #7E7E82;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
}

.brand_logo {
    width: 108px;
    height: 32px;
    position: absolute;
    left: 16px;
    top: 20px;
}

.goBtn_logo {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.button {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: 0;
    font-weight: 500;
    color: rgba(27, 28, 33, 1);
    margin-top: 24px; 
}

.button::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(img/expand_logo.svg);  
}

.button:hover::before {
    animation-name: expandButton;
    animation-duration: 1s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button:hover {
    text-decoration: underline;
}

.button1 {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: 0;
    font-weight: 500;
    color: rgba(27, 28, 33, 1);
    margin-top: 24px; 
}

.button1::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(img/expand_logo.svg);
    transform: rotate(180deg);
}

.button1:hover::before {
    animation-name: expandButton1;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.button1:hover {
    text-decoration: underline;
}

.extra-item768 {
    display: none;
}

.extra-item1120 {
    display: none;
}

.extra-item__visiable {
    display: inline-block;
}

.extra-item__hidden {
    display: none;
}

.swiper {
    width: 100%;
    height: 130px;
  }

.swiper-slide {
    background-color: (234, 234, 234, 1);
    width: 240px;
    height: 72px;
    border-radius: 5px;
    border: 1px solid rgba(234, 234, 234, 1);
    margin: auto;
    margin-top: 16px;
    align-items: center;
    position: relative;
    display: inline-block;
    color: #7E7E82;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
}

.brand_select1 {
    background-color: (234, 234, 234, 1);
    width: 240px;
    height: 72px;
    border-radius: 5px;
    border: 1px solid rgba(234, 234, 234, 1);
    margin: auto;
    margin-top: 16px;
    align-items: center;
    position: relative;
    display: inline-block;
    color: #7E7E82;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
}

.prices-menu__offer {
    display: inline-block;
    margin: 16px 16px 16px 16px;
    font-size: 16px;
    line-height: 14px;
}

.prices-menu__offer::after {
    content: "";
    margin-left: 5px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 12px;
    background-image: url(img/offer_button.svg)
}

.repair-menu__slide {
    height: 160px;
}

.swiper__repair {
    height: 220px;
}

.repair-menu__slide__header {
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    left: 10px;
    top: 10px;
}

.repair-menu__slide__goBtn_logo {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.prices-menu__slide {
    height: 200px;
}

.swiper__prices {
    height: 260px;
}

.prices-menu__slide__info {
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
    text-align: left;
}

.prices-menu__slide__info__title {
    line-height: 16px;
    padding: 0;
    margin-bottom: 0;
}

.prices-menu__slide__info__aside {
    color: black;
    width: 300;
    margin-top: 5px;
}

.order_button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.prices-menu__aside {
    display: block;
    margin: 16px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    width: 200;
}

.footer {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin-top: 10px;
    border-top: 1px solid #D9FFF5;
    background-color: #F8F8F8;
}



@keyframes expandButton {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(5px);
    } 
}

@keyframes expandButton1 {
    from {
        transform: rotate(180deg) translateY(-5px);
    }
    to {
        transform: rotate(180deg) translateY(5px);
    } 
}

@media (max-width:768px) {

    body{
        width: 100%;
        height: 100%;
        background-color: #F8F8F8;
    }

    .navigation__call {
        display: none;
    }

    .navigation__chat {
        display: none;
    }

    .navigation__profile {
        display: none;
    }

    .readmore__title2 {
        display: none;
    }

    .readmore__title2-second-part {
        display: none;
    }

    .scrollmenu a:last-child {
        display: none;
    }

    .readmore {
        margin: 0;
    }

    .readmore__title {
        margin-left: 16px;
        margin-right: 16px;
    }

    .main__header-navigator {
        display: none;
    }

    .navigation768 {
        display: none;
    }

    .button {
        display: none;
    }

    .services-menu {
        display: none;
    }

    /*.swiper {
        width: 100%;
        height: 130px;
      }
  
    .swiper-slide {
        background-color: (234, 234, 234, 1);
        width: 240px;
        height: 72px;
        border-radius: 5px;
        border: 1px solid rgba(234, 234, 234, 1);
        margin: auto;
        margin-top: 16px;
        align-items: center;
        position: relative;
        display: inline-block;
        color: #7E7E82;
        text-align: center;
        text-decoration: none;
        margin-left: 16px;
    }*/
}

@media (min-width:768px) and (max-width: 1120px) {
    body {
        width: 100%;
        background-color: #F8F8F8;
    }

    .readmore {
        display: flex;
    }

    .readmore__title2-second-part {
        display: none;
    }

    .scrollmenu a:last-child {
        display: none;
    }

    .main__header-navigator {
        display: none;
    }

    .navigation {
        display: none;
    }

    .navigation768 {
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        border-bottom: 1px solid #D9FFF5;
    }
    .navigation768_leftside {
        width: 30%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }
 
    .navigation768_rightside {
        width: 40%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }

    .services-menu {
        overflow: auto;
        white-space: normal;
    }
 
    .brand_select {
        width: 224px;
        height: 72px;
    }

    .brand_select1 {
        width: 224px;
        height: 72px;
    }

    .swiper {
        display: none;
    }
    

    .brand_select:nth-child(n+7) {
        display: none;
    }
}

@media (min-width:1120px) {
    body {
        width: 100%;
    }

    .navigation {
        display: none;
    }

    .readmore {
        display: flex;
    }

    div.scrollmenu {
        overflow: auto;
        white-space: normal;
        background-color: #F8F8F8;
        margin-left: 24px;
        margin-top: 0px;
    }
    
    div.scrollmenu::-webkit-scrollbar {
        width: 0;
    }
    
    div.scrollmenu a {
        display: inline-block;
        color: #7E7E82;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    
    .main__header {
        display: flex;
        justify-content: space-between;
    }

    .main__header-navigator {
        display: flex;
    }

   .main__header-navigator-1120 {
    display: flex;
    margin-right: 32px;
    text-decoration: none;
    color: #1B1C21;
   }

   .main__header-navigator-1120:visited {
    color: #1B1C21;
    text-decoration: none;
   }

   .item_alt {
    display: block;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-right: 10px;
    text-decoration: none;
   }
   
   .navigation768 {
    display: none;
   } 

   .services-menu {
    overflow: auto;
    white-space: normal;
}

.brand_select {
    width: 240px;
    height: 72px;
}

.brand_select1 {
    width: 240px;
    height: 72px;
}

.swiper {
    display: none;
}

.brand_select:nth-child(n+9) {
    display: none;
}
}