@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Light.eot');
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url('TTLakes-Light.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Light.woff') format('woff'),
        url('TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes';
}

.services-menu {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.services-menu__header {
    background: rgba(248, 248, 248, 1); /*linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);*/
    /*padding: 16px;*/
    border-top: 1px solid rgba(217, 255, 245, 1);
    vertical-align: middle;
}

.services-menu__header h1 {
    margin:  16px;
    font-family: 'TT Lakes';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(126, 126, 130, 1);
    font-weight: 200;
}

.services-menu__main {
    overflow: auto;
    white-space: nowrap;
}

.services-menu__main::-webkit-scrollbar {
    width: 0;
}

.brand_select {
    background-color: (234, 234, 234, 1);
    width: 240px;
    height: 72px;
    border-radius: 5px;
    border: 1px solid rgba(234, 234, 234, 1);
    margin: auto;
    margin-top: 16px;
    align-items: center;
    position: relative;
    display: inline-block;
    color: #7E7E82;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
}

.brand_logo {
    width: 108px;
    height: 32px;
    position: absolute;
    left: 16px;
    top: 20px;
}

.goBtn_logo {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.button {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: 0;
    font-weight: 500;
    color: rgba(27, 28, 33, 1);
    margin-top: 24px; 
}

.button::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(img/expand_logo.svg);  
}

.button:hover::before {
    animation-name: expandButton;
    animation-duration: 1s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button:hover {
    text-decoration: underline;
}

.button1 {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: 0;
    font-weight: 500;
    color: rgba(27, 28, 33, 1);
    margin-top: 24px; 
}

.button1::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(img/expand_logo.svg);
    transform: rotate(180deg);
}

.button1:hover::before {
    animation-name: expandButton1;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.button1:hover {
    text-decoration: underline;
}

.extra-item768 {
    display: none;
}

.extra-item1120 {
    display: none;
}

.extra-item__visiable {
    display: inline-block;
}

.extra-item__hidden {
    display: none;
}

.brand_select1 {
    background-color: (234, 234, 234, 1);
    width: 240px;
    height: 72px;
    border-radius: 5px;
    border: 1px solid rgba(234, 234, 234, 1);
    margin: auto;
    margin-top: 16px;
    align-items: center;
    position: relative;
    display: inline-block;
    color: #7E7E82;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
}



@keyframes expandButton {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(5px);
    } 
}

@keyframes expandButton1 {
    from {
        transform: rotate(180deg) translateY(-5px);
    }
    to {
        transform: rotate(180deg) translateY(5px);
    } 
}


@media (max-width: 767.8px) {
    body {
        width: 100%;
    }
      
    .button {
        display: none;
    }

    .services-menu__main {
        display: none;
    }

    .swiper {
        width: 100%;
        height: 130px;
      }
  
    .swiper-slide {
        background-color: (234, 234, 234, 1);
        width: 240px;
        height: 72px;
        border-radius: 5px;
        border: 1px solid rgba(234, 234, 234, 1);
        margin: auto;
        margin-top: 16px;
        align-items: center;
        position: relative;
        display: inline-block;
        color: #7E7E82;
        text-align: center;
        text-decoration: none;
        margin-left: 16px;
    }

}

@media (min-width: 768px) and (max-width: 1119.9px) {
    body {
        width: 100%;
    }

    .services-menu__main {
        overflow: auto;
        white-space: normal;
    }
 
    .brand_select {
        width: 224px;
        height: 72px;
    }

    .brand_select1 {
        width: 224px;
        height: 72px;
    }

    .swiper {
        display: none;
    }

    .brand_select:nth-child(n+7) {
        display: none;
    }
}

@media (min-width: 1120px) {
    body {
        width: 100%;
    }

    .services-menu__main {
        overflow: auto;
        white-space: normal;
    }
 
    .brand_select {
        width: 240px;
        height: 72px;
    }

    .brand_select1 {
        width: 240px;
        height: 72px;
    }

    .swiper {
        display: none;
    }

    .brand_select:nth-child(n+9) {
        display: none;
    }
}

